  <html>
	  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>chat</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<chatwindow id="diloo-chat-larges">
			<div class="msj-pop" id="pmsj" v-on:click="a()">
				<span id="diloo-message">{{widget.alert_message}}</span>
				<div class="close">x</div>
			</div>
			<bubble name="bubble_tag" class="show" v-on:click="abrir()">
				<div class="btn-msj" id="chat">
					<img id="diloo-bubble" :src="widget.image" />
				</div>
			</bubble>
			<div id="allchat" name="allchat" class="none">
				<div id="header">
					<div class="hbody">
						<div class="userico"></div>
						<span id="name"> Chat en vivo </span>
						<div class="min">
							<span id="mico" v-on:click="cerrar();"> <strong>__</strong> </span>
						</div>
					</div>
				</div>
				<login name="login_tag" class="none">
					<form class="fc" id="formfc">
						<div class="formulario">
							<div class="input-field col s6">
								<input id="user" name="user" type="text" class="validate" minlength="1" placeholder="NOMBRE">
								<span id="nombrev">*Nombre demasiado corto</span>
							</div>
							<div class="input-field col s6" id="field-mail" style="    margin-top: 0 !important;">
								<input id="last_name" name="last_name" class="validate" placeholder="EMAIL" type="email">
								<span id="emailv">*Direccion de correo inválida</span>
							</div>
							<center id="top">
								<button type="button" style="margin-left: 5px;color: white;" class="waves-effect waves-light btn" v-on:click="validation();">Iniciar chat</button>
							</center>
							<p class="term"> Al hacer click en <strong>"Iniciar chat"</strong> estoy aceptando los términos y condiciones </p>
						</div>
						<center>
							<span class="foot">powered by diloo</span>
						</center>
					</form>
					<chat name="chat_tag" id="chat_tag" class="none">
						<div style="width: 100%;height: 260px;">
							<div class="all" id="chat-all">
                <div class="message" v-for="m in ticket.message_">

                  <div class="reciber" v-if="m.type=='reciber' ">
  									<div class="wrapper">
  										<div class="bimg">
  											<img src="https://s3-sa-east-1.amazonaws.com/diloo-assets/widget/burbuja01_48.png" >
  										</div>
  											<div class="text"> {{m.body}}</div>
  									</div>
  								</div>

                  <div class="reciber" v-if="m.type=='nuevoSender' ">
  									<div class="wrapper">
  										<div class="bimg">
  											<img src="https://s3-sa-east-1.amazonaws.com/diloo-assets/widget/burbuja01_48.png" >
  										</div>
  										<div class="text"> {{m.body}}</div>
  									</div>
  								</div>

                </div>
							</div>
							<div class="foot-msj">
								<form method="POST" v-on:submit.prevent="sendMessage">
									<input type="text" id="msm" placeholder="escribe tu mensaje" name="message">
								</form>
							</div>
						</div>
					</chat>
				</login>
			</div>
		</chatwindow>
		<div class="hiddendiv common"></div>
      <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script src="https://vuejs.org/js/vue.min.js" charset="utf-8"></script>
      <script src="js/adonis.js" charset="utf-8"></script>
	</body>
</html>
